.vscode/setdate.code-snippets
.vscode/settings.json
.vscode/tasks.json
2063-Z80-cpm-main/*.*
Build/*.*
*.map
PLD/*.abs
PLD/*.doc
PLD/*.sim
Safe_ARC/CH376INC.H
Safe_ARC/train-z96_gpl.asm
Safe_ARC/vlink_Z80_pld_copy.ld
Safe_ARC/XMODEM_SUB.s
Safe_ARC/Z80_PLD_PCB_ copy.s
Safe_ARC/Z80_PLD_PCB_.s
TEMPS/2063-Z80-cpm-main.zip
TEMPS/escapeseq1.inc
TEMPS/Makefile.OLD
TEMPS/XXMakefile_OLDSTYLE
TEMPS/Z80_PLD_PCB_copy.asm
TEMPS/Z80_PLD_PCB_MAIN_INIT.asm
OBJS/*.*
2063-Z80-cpm-main/.gitignore
Z80_BOOT.map
OBJS/Z80_USB_TXRX.o.lst
