.vscode/setdate.code-snippets
.vscode/settings.json
.vscode/tasks.json
2063-Z80-cpm-main/LICENSE
2063-Z80-cpm-main/Makefile
2063-Z80-cpm-main/README-SD.md
2063-Z80-cpm-main/README.md
2063-Z80-cpm-main/boot/firmware.asm
2063-Z80-cpm-main/boot/Makefile
2063-Z80-cpm-main/boot/README.md
2063-Z80-cpm-main/cpm22/.gitignore
2063-Z80-cpm-main/cpm22/Makefile
2063-Z80-cpm-main/cpm22/README.md
2063-Z80-cpm-main/doc/.gitignore
2063-Z80-cpm-main/doc/2063-Z80-cpm.pdf
2063-Z80-cpm-main/doc/2063-Z80-cpm.tex
2063-Z80-cpm-main/doc/Make.rules
2063-Z80-cpm-main/doc/Makefile
2063-Z80-cpm-main/doc/README.md
2063-Z80-cpm-main/filesystem/.gitignore
2063-Z80-cpm-main/filesystem/diskdefs
2063-Z80-cpm-main/filesystem/Makefile
2063-Z80-cpm-main/filesystem/README.md
2063-Z80-cpm-main/hello/hello.asm
2063-Z80-cpm-main/hello/hello2.s
2063-Z80-cpm-main/hello/Makefile
2063-Z80-cpm-main/hello/README.md
2063-Z80-cpm-main/lib/ctc1.asm
2063-Z80-cpm-main/lib/ctc2.asm
2063-Z80-cpm-main/lib/ctc3.asm
2063-Z80-cpm-main/lib/hexdump.asm
2063-Z80-cpm-main/lib/io.asm
2063-Z80-cpm-main/lib/memory.asm
2063-Z80-cpm-main/lib/prn.asm
2063-Z80-cpm-main/lib/puts.asm
2063-Z80-cpm-main/lib/sdcard.asm
2063-Z80-cpm-main/lib/sio.asm
2063-Z80-cpm-main/lib/spi.asm
2063-Z80-cpm-main/lib/Z80_SD_SPI_func.s
2063-Z80-cpm-main/retro/.gitignore
2063-Z80-cpm-main/retro/Makefile
2063-Z80-cpm-main/retro/README.md
2063-Z80-cpm-main/retro/retro.asm
2063-Z80-cpm-main/tests/Makefile
2063-Z80-cpm-main/tests/README.md
2063-Z80-cpm-main/tests/sd_test.asm
2063-Z80-cpm-main/tests/spi_test.asm
Build/512K_Z80.BIN
Build/512K_Z80.BIN.MainBody
Build/txtfiles.txt
Build/txtfiles2.txt
*.map
PLD/*.abs
PLD/*.doc
PLD/*.sim
Safe_ARC/CH376INC.H
Safe_ARC/train-z96_gpl.asm
Safe_ARC/vlink_Z80_pld_copy.ld
Safe_ARC/XMODEM_SUB.s
Safe_ARC/Z80_PLD_PCB_ copy.s
Safe_ARC/Z80_PLD_PCB_.s
TEMPS/2063-Z80-cpm-main.zip
TEMPS/escapeseq1.inc
TEMPS/Makefile.OLD
TEMPS/XXMakefile_OLDSTYLE
TEMPS/Z80_PLD_PCB_copy.asm
TEMPS/Z80_PLD_PCB_MAIN_INIT.asm
OBJS/I2C_func.o
OBJS/I2C_func.o.lst
OBJS/LEV_Sect4_Code_Conversion.o
OBJS/LEV_Sect4_Code_Conversion.o.lst
OBJS/LEV_Sect8_String_Manipulation.o
OBJS/LEV_Sect8_String_Manipulation.o.lst
OBJS/LEV_Sect11_IO_Interrupts.o
OBJS/LEV_Sect11_IO_Interrupts.o.lst
OBJS/Salea_Logic.o
OBJS/Salea_Logic.o.lst
OBJS/XMODEM_CRC_SUB.o
OBJS/XMODEM_CRC_SUB.o.lst
OBJS/Z80_EEP_.o
OBJS/Z80_EEP_.o.lst
OBJS/Z80_PLD_FLash_support.o
OBJS/Z80_PLD_FLash_support.o.lst
OBJS/Z80_PLD_PCB_.o
OBJS/Z80_PLD_PCB_.o.lst
OBJS/Z80_USB_TXRX.o
OBJS/Z80_USB_TXRX.o.lst
2063-Z80-cpm-main/.gitignore
Z80_BOOT.map
